header {
    background-color: rgb(101, 13, 160);
    width: 100%;
    height: 40px;
    color: wheat;
    text-align: center;
    margin-bottom: 30px;
    font-family: sans-serif;
}

#slider {
    margin: 0 auto;
    width: 880px;
    height: 550px;
    background-color: wheat;
    border: 1px solid rgb(101, 13, 160);
}

#slider > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 5px;
}

#controls {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#controls > button {
    width: 15%;
    height: 40px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(101, 13, 160);
    color: wheat;
    border: none;
}

#controls > button:hover {
    background-color: wheat;
    color: rgb(101, 13, 160);
    cursor: pointer;
}

.hidden {
    display: none;
}